body
{
	background-color: white;
	margin: 0;
}

.row
{
	margin-bottom: 2%;	
}

.jumbotron
{
	background-image: url(https://brg12.github.io/Altoenergy.png);
	background-repeat: no-repeat;
	background-size: 155%;
	padding-top: 10%;
	padding-bottom 10%;
	margin-bottom: 0%;
	background-position: center;
	border-bottom-style: solid;
	border-bottom-color: black;
}

#projectname
{
	font-family: arial;
	font-size: 500%;
	text-align: center;
	vertical-align: text-center;
	color: white;
	background-color: black;
}

.navbar
{
	margin-top: 0%;
	margin-bottom: 0%;
	/*border-bottom-style: solid;
	border-bottom-color: black;*/	
}

.col-centered
{
	float: none;
	margin: 0 auto;
}

.content
{
	float: none;
	margin: 0%;
	/*
	/*border-radius: 0px 0px 5px 5px;
	
	background-color: white;
	
	border-bottom-style: solid;
	border-bottom-color: black;
	border-bottom-width: 2px;
	
	border-left-style: solid;
	border-left-color: black;
	border-left-width: 1px;
	
	border-right-style: solid;
	border-right-color: black;
	border-right-width: 1px;
	*/
}

.mainheader
{
	font-style: bold;
	font-size: 300%;
	color: #2F4F4F;
	text-align: center;
	margin-top: 5%;
	background-color: #98FB98;
}

.personalinfo
{
	text-align: center;
}



.subheader
{
	font-weight: bold;
	font-size: medium;
}

.imagesize
{
	width: 100px;
	height: auto;
}

.footer
{
	/* background-color: #E0FFFF; */
	background-image: url(https://brg12.github.io/sunrays3.png);
	background-position: left top;
	margin-top: 10%;
	margin-bottom: 0%;
	margin-left: 0%;
	margin-right: 0%;
	list-style: none;
	border-top-style: solid;
	border-top-color: black;
	padding-top: 5%;
	padding-bottom: 5%;
}

.deliverables
{
	margin-top: 5%;
	margin-bottom: 5%;
}
